<div style="text-align: left;">
    <form [formGroup]="userForm">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" formControlName="name" [(ngModel)]="user.name">
           
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" formControlName="email" [(ngModel)]="user.email">

        </div>

        <div class="form-group">
            <label for="username">UserName</label>
            <input type="text" class="form-control" formControlName="username" [(ngModel)]="user.username">
        </div>

        <div class="form-group">
            <label for="phone">phone</label>
            <input type="text" class="form-control" formControlName="phone" [(ngModel)]="user.phone">
        </div>

        <div class="form-group">
            <label for="website">WebSite</label>
            <input type="text" class="form-control" formControlName="website" [(ngModel)]="user.website">
        </div>

        <button type="submit" class="btn btn-primary" (click)=addUser()>Submit</button>
        <button type="reset" class="btn btn-secondary" (click)=reset()>Clear</button>
    </form>
</div>
