<h1>
    Employe CRUD Operations
</h1>

<a href = "getByID">Fetch Employee</a><br/>
<a href = "deleteById"> Delete Employee</a><br/>
<a href= "addEmployee"> Add Employee</a> <br/>
<a href="fetchAll"> Employee List</a><br/>
<a href="/"> Home</a>
