<div class = "card">
    <h5 class = "card-header">User Details</h5>
    <div class = "card-body">
        <h5 class = "card-title"> Details of <b>{{userdetails.name}}</b></h5>
        <table class = "table" style = "text-align:left">
            <tr>
                <td>name</td>
                <td>{{userdetails.name}}</td>
            </tr>
            <tr>
                <td>WebSite</td>
                <td>{{userdetails.website}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{userdetails.email}}</td>
            </tr>
            <tr>
                <td>Contact No.</td>
                <td>{{userdetails.phone}}</td>
            </tr>
        </table>
    </div>
</div>
