<div class = "card">
    <h5 class = "card-header">Employee Details</h5>
    <div class = "card-body">
        <h5 class = "card-title"> Details of <b>{{employeedetails.name}}</b></h5>
        <table class = "table" style = "text-align:left">
            <tr>
                <td>name:</td>
                <td>{{employeedetails.name}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{employeedetails.email}}</td>
            </tr>
            <tr>
                <td>Salary:</td>
                <td>{{employeedetails.salary}}</td>
            </tr>
        </table>
    </div>
</div>
